-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: aura_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `action` varchar(50) NOT NULL,
  `performed_by` varchar(100) NOT NULL,
  `old_value` text,
  `new_value` text,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(300) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_audit_application` (`application_id`),
  KEY `idx_audit_created` (`created_at`),
  KEY `idx_audit_action` (`action`),
  CONSTRAINT `fk_audit_application` FOREIGN KEY (`application_id`) REFERENCES `loan_application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `company_id` int NOT NULL AUTO_INCREMENT,
  `company_name` varchar(200) NOT NULL,
  `registration_no` varchar(50) NOT NULL,
  `industry` varchar(100) NOT NULL,
  `address` varchar(500) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL DEFAULT 'India',
  `pincode` varchar(10) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `annual_revenue` decimal(18,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`company_id`),
  UNIQUE KEY `registration_no` (`registration_no`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_1nf_violation`
--

DROP TABLE IF EXISTS `company_1nf_violation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_1nf_violation` (
  `company_id` int DEFAULT NULL,
  `company_name` varchar(200) DEFAULT NULL,
  `phones` varchar(500) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_1nf_violation`
--

LOCK TABLES `company_1nf_violation` WRITE;
/*!40000 ALTER TABLE `company_1nf_violation` DISABLE KEYS */;
INSERT INTO `company_1nf_violation` VALUES (1,'Tata Steel Ltd.','+91-22-66658282, +91-22-66658285'),(2,'Infosys Technologies','+91-80-28520261, +91-80-28520262'),(3,'Reliance Industries','+91-22-35553000, +91-22-35553001');
/*!40000 ALTER TABLE `company_1nf_violation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_certification`
--

DROP TABLE IF EXISTS `company_certification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_certification` (
  `company_id` int DEFAULT NULL,
  `certification` varchar(50) DEFAULT NULL,
  `issued_year` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_certification`
--

LOCK TABLES `company_certification` WRITE;
/*!40000 ALTER TABLE `company_certification` DISABLE KEYS */;
INSERT INTO `company_certification` VALUES (1,'ISO 9001',2018),(1,'ISO 14001',2020),(3,'ISO 9001',2015),(3,'ISO 50001',2022);
/*!40000 ALTER TABLE `company_certification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_multi_4nf`
--

DROP TABLE IF EXISTS `company_multi_4nf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_multi_4nf` (
  `company_id` int DEFAULT NULL,
  `company_name` varchar(200) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `certification` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_multi_4nf`
--

LOCK TABLES `company_multi_4nf` WRITE;
/*!40000 ALTER TABLE `company_multi_4nf` DISABLE KEYS */;
INSERT INTO `company_multi_4nf` VALUES (1,'Tata Steel Ltd.','+91-22-66658282','ISO 9001'),(1,'Tata Steel Ltd.','+91-22-66658282','ISO 14001'),(1,'Tata Steel Ltd.','+91-22-66658285','ISO 9001'),(1,'Tata Steel Ltd.','+91-22-66658285','ISO 14001'),(3,'Reliance Industries','+91-22-35553000','ISO 9001'),(3,'Reliance Industries','+91-22-35553000','ISO 50001');
/*!40000 ALTER TABLE `company_multi_4nf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_phone_1nf`
--

DROP TABLE IF EXISTS `company_phone_1nf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_phone_1nf` (
  `company_id` int DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `phone_type` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_phone_1nf`
--

LOCK TABLES `company_phone_1nf` WRITE;
/*!40000 ALTER TABLE `company_phone_1nf` DISABLE KEYS */;
INSERT INTO `company_phone_1nf` VALUES (1,'+91-22-66658282','Primary'),(1,'+91-22-66658285','Secondary'),(2,'+91-80-28520261','Primary'),(2,'+91-80-28520262','Secondary'),(3,'+91-22-35553000','Primary'),(3,'+91-22-35553001','Secondary');
/*!40000 ALTER TABLE `company_phone_1nf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `high_risk_loans`
--

DROP TABLE IF EXISTS `high_risk_loans`;
/*!50001 DROP VIEW IF EXISTS `high_risk_loans`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `high_risk_loans` AS SELECT 
 1 AS `application_id`,
 1 AS `application_number`,
 1 AS `company_name`,
 1 AS `requested_amount`,
 1 AS `officer_name`,
 1 AS `risk_score`,
 1 AS `risk_category`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `loan_application`
--

DROP TABLE IF EXISTS `loan_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_application` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `application_number` varchar(30) NOT NULL,
  `company_id` int NOT NULL,
  `officer_id` int NOT NULL,
  `loan_type` varchar(50) NOT NULL,
  `requested_amount` decimal(18,2) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'INR',
  `purpose` varchar(500) NOT NULL,
  `application_date` date NOT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'SUBMITTED',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `application_number` (`application_number`),
  KEY `idx_app_company` (`company_id`),
  KEY `idx_app_officer` (`officer_id`),
  KEY `idx_app_status` (`status`),
  KEY `idx_app_date` (`application_date`),
  CONSTRAINT `fk_app_company` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_app_officer` FOREIGN KEY (`officer_id`) REFERENCES `loan_officer` (`officer_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_app_status` CHECK ((`status` in (_utf8mb4'SUBMITTED',_utf8mb4'UNDER_REVIEW',_utf8mb4'RISK_ASSESSMENT',_utf8mb4'APPROVED',_utf8mb4'REJECTED',_utf8mb4'DISBURSED',_utf8mb4'CLOSED',_utf8mb4'CANCELLED'))),
  CONSTRAINT `chk_requested_amount` CHECK ((`requested_amount` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_application`
--

LOCK TABLES `loan_application` WRITE;
/*!40000 ALTER TABLE `loan_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_application` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_loan_insert_audit` AFTER INSERT ON `loan_application` FOR EACH ROW BEGIN
    INSERT INTO Audit_Log
        (application_id, action, performed_by, new_value)
    VALUES
        (NEW.application_id, 'APPLICATION_CREATED', 'SYSTEM', 'SUBMITTED');
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_block_critical_risk_approval` BEFORE UPDATE ON `loan_application` FOR EACH ROW BEGIN
    DECLARE v_risk_cat VARCHAR(20);
    IF NEW.status = 'APPROVED' THEN
        SELECT risk_category INTO v_risk_cat
        FROM Risk_Assessment
        WHERE application_id = NEW.application_id
        ORDER BY created_at DESC
        LIMIT 1;
        IF v_risk_cat IN ('CRITICAL', 'VERY_HIGH') THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Cannot approve: risk is CRITICAL or VERY_HIGH';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `loan_master_unf`
--

DROP TABLE IF EXISTS `loan_master_unf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_master_unf` (
  `application_id` int NOT NULL DEFAULT '0',
  `company_name` varchar(200) NOT NULL,
  `industry` varchar(100) NOT NULL,
  `annual_revenue` decimal(18,2) DEFAULT NULL,
  `officer_name` varchar(201) DEFAULT NULL,
  `department` varchar(100) NOT NULL,
  `loan_type` varchar(50) NOT NULL,
  `requested_amount` decimal(18,2) NOT NULL,
  `risk_score` decimal(5,2),
  `risk_category` varchar(20),
  `interest_rate` decimal(5,2),
  `decision` varchar(20)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_master_unf`
--

LOCK TABLES `loan_master_unf` WRITE;
/*!40000 ALTER TABLE `loan_master_unf` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_master_unf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_officer`
--

DROP TABLE IF EXISTS `loan_officer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_officer` (
  `officer_id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `employee_code` varchar(30) NOT NULL,
  `email` varchar(150) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `department` varchar(100) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `password_hash` varchar(255) DEFAULT 'admin123',
  PRIMARY KEY (`officer_id`),
  UNIQUE KEY `employee_code` (`employee_code`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_officer`
--

LOCK TABLES `loan_officer` WRITE;
/*!40000 ALTER TABLE `loan_officer` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_officer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_outcome`
--

DROP TABLE IF EXISTS `loan_outcome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_outcome` (
  `outcome_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `decision` varchar(20) NOT NULL,
  `decision_date` date NOT NULL,
  `disbursed_amount` decimal(18,2) DEFAULT NULL,
  `disbursement_date` date DEFAULT NULL,
  `rejection_reason` varchar(500) DEFAULT NULL,
  `decision_by` int DEFAULT NULL,
  `remarks` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`outcome_id`),
  UNIQUE KEY `application_id` (`application_id`),
  KEY `fk_outcome_decision_by` (`decision_by`),
  CONSTRAINT `fk_outcome_application` FOREIGN KEY (`application_id`) REFERENCES `loan_application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_outcome_decision_by` FOREIGN KEY (`decision_by`) REFERENCES `loan_officer` (`officer_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_decision` CHECK ((`decision` in (_utf8mb4'APPROVED',_utf8mb4'REJECTED',_utf8mb4'DEFERRED',_utf8mb4'CANCELLED')))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_outcome`
--

LOCK TABLES `loan_outcome` WRITE;
/*!40000 ALTER TABLE `loan_outcome` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_outcome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_terms`
--

DROP TABLE IF EXISTS `loan_terms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_terms` (
  `terms_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `approved_amount` decimal(18,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `tenure_months` int NOT NULL,
  `repayment_frequency` varchar(20) NOT NULL DEFAULT 'MONTHLY',
  `collateral_required` tinyint(1) NOT NULL DEFAULT '0',
  `collateral_details` varchar(500) DEFAULT NULL,
  `processing_fee` decimal(18,2) NOT NULL DEFAULT '0.00',
  `insurance_required` tinyint(1) NOT NULL DEFAULT '0',
  `terms_generated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `approved_by` int DEFAULT NULL,
  PRIMARY KEY (`terms_id`),
  KEY `fk_terms_approved_by` (`approved_by`),
  KEY `idx_terms_application` (`application_id`),
  CONSTRAINT `fk_terms_application` FOREIGN KEY (`application_id`) REFERENCES `loan_application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_terms_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `loan_officer` (`officer_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chk_approved_amount` CHECK ((`approved_amount` > 0)),
  CONSTRAINT `chk_interest_rate` CHECK ((`interest_rate` >= 0)),
  CONSTRAINT `chk_repay_freq` CHECK ((`repayment_frequency` in (_utf8mb4'MONTHLY',_utf8mb4'QUARTERLY',_utf8mb4'HALF_YEARLY',_utf8mb4'YEARLY'))),
  CONSTRAINT `chk_tenure` CHECK ((`tenure_months` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_terms`
--

LOCK TABLES `loan_terms` WRITE;
/*!40000 ALTER TABLE `loan_terms` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_terms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `officer_company_loantype`
--

DROP TABLE IF EXISTS `officer_company_loantype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `officer_company_loantype` (
  `officer_id` int NOT NULL,
  `company_id` int NOT NULL,
  `loan_type` varchar(50) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `officer_company_loantype`
--

LOCK TABLES `officer_company_loantype` WRITE;
/*!40000 ALTER TABLE `officer_company_loantype` DISABLE KEYS */;
INSERT INTO `officer_company_loantype` VALUES (1,1,'Term Loan'),(1,3,'Equipment Finance'),(1,3,'Term Loan'),(1,10,'Project Finance'),(2,2,'Working Capital'),(2,6,'Term Loan'),(2,9,'Term Loan'),(3,1,'Working Capital'),(3,12,'Project Finance'),(4,5,'Working Capital'),(4,9,'Equipment Finance'),(5,4,'Equipment Finance'),(5,4,'Working Capital'),(5,8,'Working Capital'),(6,5,'Project Finance'),(6,12,'Term Loan'),(7,10,'Working Capital'),(8,7,'Working Capital'),(8,11,'Working Capital'),(10,7,'Equipment Finance');
/*!40000 ALTER TABLE `officer_company_loantype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `officer_performance_summary`
--

DROP TABLE IF EXISTS `officer_performance_summary`;
/*!50001 DROP VIEW IF EXISTS `officer_performance_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `officer_performance_summary` AS SELECT 
 1 AS `officer_id`,
 1 AS `officer_name`,
 1 AS `designation`,
 1 AS `total_loans`,
 1 AS `avg_risk_score`,
 1 AS `rejections`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `pending_loan_dashboard`
--

DROP TABLE IF EXISTS `pending_loan_dashboard`;
/*!50001 DROP VIEW IF EXISTS `pending_loan_dashboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `pending_loan_dashboard` AS SELECT 
 1 AS `application_id`,
 1 AS `application_number`,
 1 AS `company_name`,
 1 AS `annual_revenue`,
 1 AS `requested_amount`,
 1 AS `application_date`,
 1 AS `days_pending`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `risk_assessment`
--

DROP TABLE IF EXISTS `risk_assessment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `risk_assessment` (
  `assessment_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `risk_score` decimal(5,2) NOT NULL,
  `risk_category` varchar(20) NOT NULL,
  `assessment_date` date NOT NULL,
  `model_version` varchar(30) NOT NULL,
  `credit_score` int DEFAULT NULL,
  `debt_to_income` decimal(5,2) DEFAULT NULL,
  `default_probability` decimal(5,4) DEFAULT NULL,
  `remarks` text,
  `assessed_by` varchar(100) NOT NULL DEFAULT 'AI_ENGINE',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assessment_id`),
  KEY `idx_risk_application` (`application_id`),
  KEY `idx_risk_category` (`risk_category`),
  CONSTRAINT `fk_risk_application` FOREIGN KEY (`application_id`) REFERENCES `loan_application` (`application_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_risk_category` CHECK ((`risk_category` in (_utf8mb4'LOW',_utf8mb4'MEDIUM',_utf8mb4'HIGH',_utf8mb4'VERY_HIGH',_utf8mb4'CRITICAL'))),
  CONSTRAINT `chk_risk_score` CHECK ((`risk_score` between 0 and 100))
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risk_assessment`
--

LOCK TABLES `risk_assessment` WRITE;
/*!40000 ALTER TABLE `risk_assessment` DISABLE KEYS */;
/*!40000 ALTER TABLE `risk_assessment` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_set_risk_category` BEFORE INSERT ON `risk_assessment` FOR EACH ROW BEGIN
    IF NEW.risk_score >= 85     THEN SET NEW.risk_category = 'CRITICAL';
    ELSEIF NEW.risk_score >= 65 THEN SET NEW.risk_category = 'HIGH';
    ELSEIF NEW.risk_score >= 45 THEN SET NEW.risk_category = 'MEDIUM';
    ELSE                             SET NEW.risk_category = 'LOW';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `risk_band`
--

DROP TABLE IF EXISTS `risk_band`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `risk_band` (
  `band_id` int NOT NULL AUTO_INCREMENT,
  `risk_category` varchar(20) NOT NULL,
  `min_score` decimal(5,2) NOT NULL,
  `max_score` decimal(5,2) NOT NULL,
  PRIMARY KEY (`band_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risk_band`
--

LOCK TABLES `risk_band` WRITE;
/*!40000 ALTER TABLE `risk_band` DISABLE KEYS */;
INSERT INTO `risk_band` VALUES (1,'LOW',0.00,34.99),(2,'MEDIUM',35.00,59.99),(3,'HIGH',60.00,74.99),(4,'VERY_HIGH',75.00,89.99),(5,'CRITICAL',90.00,100.00);
/*!40000 ALTER TABLE `risk_band` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `high_risk_loans`
--

/*!50001 DROP VIEW IF EXISTS `high_risk_loans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `high_risk_loans` AS select `la`.`application_id` AS `application_id`,`la`.`application_number` AS `application_number`,`c`.`company_name` AS `company_name`,`la`.`requested_amount` AS `requested_amount`,concat(`lo`.`first_name`,' ',`lo`.`last_name`) AS `officer_name`,`ra`.`risk_score` AS `risk_score`,`ra`.`risk_category` AS `risk_category` from (((`loan_application` `la` join `company` `c` on((`la`.`company_id` = `c`.`company_id`))) join `loan_officer` `lo` on((`la`.`officer_id` = `lo`.`officer_id`))) join `risk_assessment` `ra` on((`la`.`application_id` = `ra`.`application_id`))) where (`ra`.`risk_category` = 'HIGH') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `officer_performance_summary`
--

/*!50001 DROP VIEW IF EXISTS `officer_performance_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `officer_performance_summary` AS select `lo`.`officer_id` AS `officer_id`,concat(`lo`.`first_name`,' ',`lo`.`last_name`) AS `officer_name`,`lo`.`designation` AS `designation`,count(distinct `la`.`application_id`) AS `total_loans`,round(avg(`ra`.`risk_score`),2) AS `avg_risk_score`,sum((case when (`lout`.`decision` = 'REJECTED') then 1 else 0 end)) AS `rejections` from (((`loan_officer` `lo` left join `loan_application` `la` on((`lo`.`officer_id` = `la`.`officer_id`))) left join `risk_assessment` `ra` on((`la`.`application_id` = `ra`.`application_id`))) left join `loan_outcome` `lout` on((`la`.`application_id` = `lout`.`application_id`))) group by `lo`.`officer_id`,`lo`.`first_name`,`lo`.`last_name`,`lo`.`designation` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `pending_loan_dashboard`
--

/*!50001 DROP VIEW IF EXISTS `pending_loan_dashboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `pending_loan_dashboard` AS select `la`.`application_id` AS `application_id`,`la`.`application_number` AS `application_number`,`c`.`company_name` AS `company_name`,`c`.`annual_revenue` AS `annual_revenue`,`la`.`requested_amount` AS `requested_amount`,`la`.`application_date` AS `application_date`,(to_days(curdate()) - to_days(`la`.`application_date`)) AS `days_pending` from (`loan_application` `la` join `company` `c` on((`la`.`company_id` = `c`.`company_id`))) where (`la`.`status` in ('SUBMITTED','UNDER_REVIEW','RISK_ASSESSMENT')) order by (to_days(curdate()) - to_days(`la`.`application_date`)) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-28 20:12:34
